
{% extends 'base.html' %}
{% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'new.css'%}"/>
{% endblock %}

{% block memo %}
            <form action="" method="post">
                {% csrf_token %}
            <div class="title">
                <label for="title">title</label>
                <input type="text" id="title" name="title" placeholder="제목을 작성하세요">
            </div>
            <div class="content">
                <label for="content">detail</label>
                <textarea name="content" id="content" cols="25" rows="10" placeholder="내용을 작성하세요"></textarea>
            </div>
            <div class="submit">
                <button type="submit">save</button>
            </div>
            </form>
{% endblock %}