.entire {
}

.header {
  height: 24vh;
  width: 100%;
}

.story {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  border-bottom: 15px solid rgb(216, 216, 216);
}

.page_1 {
  /* height: 200vh; */
  width: 100%;
}

/* .last {
  height: 10vh;
  width: 100%;
  background-color: green;
} */

.logo {
  height: 8vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo > p {
  margin: 0px;
  font-size: 70px;
  color: rgb(33, 91, 167);
}

.two_icons {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.packed_search {
  border-radius: 50%;
  border-width: 0px;
  border-style: solid;
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  margin-right: 25px;
  width: 75px;
  height: 75px;
}

.packed_chat {
  border-radius: 50%;
  border-width: 0px;
  border-style: solid;
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  width: 75px;
  height: 75px;
}

.search {
  width: 60%;
  align-self: center;
}

.chat {
  width: 60%;
  align-self: center;
}

.logo_under {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  border-top: 1px solid gray;
}

.whatareyouthinking {
}

.profile_image {
  border-radius: 500px;
  height: 90px;
}

.logo_under > p {
  font-size: 35px;
  color: rgb(60, 60, 60);
  padding-left: 20px;
}

.logo_under_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid gray;
  border-bottom: 15px solid rgb(216, 216, 216);
}

.camera {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.camera > img {
  width: 40px;
  height: 50%;
  padding-right: 10px;
}

.picture {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;
}

.picture > img {
  width: 40px;
  height: 50%;
  padding-right: 10px;
}

.checkin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.checkin > img {
  width: 40px;
  height: 50%;
  padding-right: 10px;
}

.camera > p {
  font-size: 30px;
}

.picture > p {
  font-size: 30px;
}

.checkin > p {
  font-size: 30px;
}

.story_1 {
  width: 25%;
  height: 90%;
  border: 1px solid gray;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(240, 239, 239);
  margin-right: 10px;
  margin-left: 10px;
}

.background {
  width: 100%;
  height: 70%;
  border-radius: 30px 30px 0 0;
}

.story_1 > p {
  font-size: 30px;
  margin-bottom: 15px;
}

.story_2 {
  width: 25%;
  height: 90%;
  border: 1px solid gray;
  border-radius: 30px;
  position: relative;
  justify-content: space-between;
  background-color: rgb(240, 239, 239);
  margin-right: 10px;
}
.story_2 > div:nth-of-type(1) {
  position: absolute;
  left: 10px;
  top: 330px;
  font-size: 2em;
  color: white;
}

.story_3 {
  width: 25%;
  height: 90%;
  border: 1px solid gray;
  border-radius: 30px;
  position: relative;
  justify-content: space-between;
  background-color: rgb(240, 239, 239);
  margin-right: 10px;
}
.story_3 > div:nth-of-type(1) {
  position: absolute;
  left: 10px;
  top: 330px;
  font-size: 2em;
  color: white;
}

.story_4 {
  width: 25%;
  height: 90%;
  border: 1px solid gray;
  border-radius: 30px;
  position: relative;
  justify-content: space-between;
  background-color: rgb(240, 239, 239);
  margin-right: 10px;
}

.story_4 > div:nth-of-type(1) {
  position: absolute;
  left: 10px;
  top: 330px;
  font-size: 2em;
  color: white;
}

.story_5 {
  width: 25%;
  height: 90%;
  border: 1px solid gray;
  border-radius: 30px;
  position: relative;
  justify-content: space-between;
  background-color: rgb(240, 239, 239);
  margin-right: 10px;
}

.story_5 > div:nth-of-type(1) {
  position: absolute;
  left: 10px;
  top: 330px;
  font-size: 2em;
  color: white;
}

.page {
  /* overflow-x: scroll; */
  height: 2900px;
}

.name {
  height: 15%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.menu {
  width: 40px;
  height: 40px;
}
.page_1 {
  height: 1000px;
}

.intro {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.anam {
  height: 90px;
  width: 90px;
  border-radius: 500px;
}

.name_date {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  margin: 0px;
}

.date {
  font-size: 25px;
  color: gray;
  margin: 0px;
}

.suzy {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  border: 10px solid rgb(33, 91, 167);
}

.second_pic {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.iu {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  border: 10px solid rgb(33, 91, 167);
}

.third_pic {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.arin {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  border: 10px solid rgb(33, 91, 167);
}

.fourth_pic {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.fifth_pic {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.taeyon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  border: 10px solid rgb(33, 91, 167);
}

.explanation {
  padding-left: 20px;
}

.explanation > p {
  font-size: 30px;
  margin-top: 0px;
}

.post {
  overflow: visible;
}

.first {
  height: 479.5px;
}

.reaction {
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.like {
  display: flex;
  align-items: center;
  width: 200px;
  padding-left: 20px;
}

.thumb_back {
  border-radius: 50%;
  border-width: 0px;
  border-style: solid;
  background-color: rgb(48, 120, 198);
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.like > p {
  font-size: 30px;
  margin: 0px;
  margin-left: 15px;
}

.thumb {
  height: 50%;
  border-radius: 500px;
  align-self: center;
}

.comments {
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 20px;
}

.comments > p {
  font-size: 30px;
  padding-left: 15px;
  margin: 0px;
}

.circle {
  height: 50%;
  border-radius: 700px;
  margin-left: 15px;
}

.arrow {
  height: 25%;
  padding-left: 15px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 15px solid rgb(216, 216, 216);
}

.one > p {
  margin: 0px;
  font-size: 30px;
  padding-left: 20px;
}

.two > p {
  margin: 0px;
  font-size: 30px;
  padding-left: 20px;
}

.three > p {
  margin: 0px;
  font-size: 30px;
  padding-left: 20px;
}

.like_blank {
  height: 40px;
}

.comment_blank {
  height: 40px;
}

.share_blank {
  height: 40px;
}

.one {
  width: 150px;
  display: flex;
  align-items: center;
}

.two {
  width: 190px;
  display: flex;
  align-items: center;
}

.three {
  width: 170px;
  display: flex;
  align-items: center;
}

.intro_2 {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.last {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  /* position: fixed; */
}

.last > img {
  height: 50px;
}
