<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit.css'%}"/>
</head>
<body>
    <div class="entire">
        <form action="" method="post">
            {% csrf_token %}
            <div class="top">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" value="{{ post.title }}">
            </div class="middle">
            <div>
                <label for="content">내용</label>
                <textarea name="content" id="content" cols="30" rows="10">{{ post.title }}</textarea> 
            </div>
            <div class="bottom">
                <label for="date">마감일</label>
                <input type="datetime-local" id="date" name="date">
            </div>
            <div class="last">
                <button type="submit">수정하기</button>
            </div>
        </form>
    </div>
    
</body>
</html>