<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css'%}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Pen+Script&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
    <div class="entire">
        <div class="header">
            <h1>To do list</h1>
        </div>
        <div class="list">
            <ul>
                <div class="box">
                    {% for post in posts %}
                    <li>
                        <a href="{% url 'detail' post.pk %}">{{ post.title }} </a>
                    </li>
                    {% endfor %}
                </div>
            </ul>
            <div class="bottom">
                <a href="{% url 'new' %}">할 일 추가</a>
            </div>
        </div>

    </div>
    
</body>
</html>