.my_posts {
    height: 130px;
    margin-top: 30px;
}


.my_posts > p {
    font-family: Aurelie Smith DEMO;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_comments > p {
    font-family: Aurelie Smith DEMO;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(167, 161, 174);
    font-size: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}